body {
  font-family: Charter;
}

.header-container {
  /* background-color: #265073; */
  
  /* background: linear-gradient(127deg, #265073 0%, #596FB7 45%, #C6CF9B 80%, #F6ECA9 100%); */
  background: linear-gradient(127deg, #265073 0%, #596FB7 45%, #C6CF9B 70%, rgb(244,234,203) 100%);
  
  /* background: linear-gradient(#176B87 0%, #86B6F6 45%, #B4D4FF 80%, #EEF5FF 100%); */
  /* background: rgb(38,80,115); */
/* background: linear-gradient(127deg, rgba(38,80,115,1) 0%, rgba(34,193,195,1) 50%, rgba(117,191,138,1) 70%, rgba(253,187,45,1) 100%); */
  
  /* background: rgb(7,60,105); */
  /* background: linear-gradient(90deg, rgba(7,60,105,1) 0%, rgba(22,80,129,1) 26%, rgba(255,201,0,1) 100%); */
  
  color: #FFC436;
  text-align: center; /* Center content on small screens */
  padding: 20px; /* Reduced padding for small screens */
  opacity: 1.0;
  z-index: 1000;
  position: relative;
}


.header-content h1 {
  font-size: 1.5em; /* Adjust font size for small screens */
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.teaser-video video {
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Prevent inline spacing issues */
  max-width: 100%;
}

.header-image img {
  max-width: 100%; /* Ensure the image is never more than 100% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Prevent inline spacing issues */
  margin: 0 auto 20px; /* Center the image horizontally and add margin below */
}

.button-container {
  margin-top: 20px; /* Add margin above the buttons */
  margin-bottom: 20px; /* Add margin below the buttons */
}

.button-container a.button {
  display: inline-block; /* Make buttons inline */
  margin: 10px; /* Space around buttons */
  padding: 10px 20px; /* Increase tap area for touch screens */
}

.button-container a.button {
  background-color: #FFF0CE; /* Yellow background */
  color: #000; /* Black text */
  border: 2px solid #ffc107; /* Orange border */
  border-radius: 25px; /* Rounded borders */
  padding: 10px 20px; /* Top and bottom padding, left and right padding */
  margin: 5px; /* Space between the buttons */
  text-decoration: none; /* Remove the underline from links */
  display: inline-block; /* Display links as inline blocks */
  font-weight: bold; /* Make the text bold */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.button-container a.button:hover {
  background-color: #EAB682; /* Darker yellow background on hover */
  color: #fff; /* White text on hover */
}

/* Styles for larger screens using a media query */
@media (min-width: 600px) {
  .header-container {
    display: flex; /* Use flexbox for positioning on larger screens */
    justify-content: space-between; /* Space between the content and image */
    align-items: center; /* Align items vertically */
    padding: 50px 50px; /* Increase padding for larger screens */
  }

  .header-content {
    max-width: calc(50% - 20px); /* Adjust width to include margin */
    text-align: left; /* Align text to the left for larger screens */
    margin-right: 10px; /* Add margin to the right of the header content */
  }

  .header-content h1 {
    font-size: 3.3em; /* Increase font size for larger screens */
  }

  .teaser-video {
    width: 100%; /* Set width to 100% */
  }

  .header-image {
    max-width: calc(50% - 20px); /* Adjust width to include margin */
  }

  .header-image img {
    max-width: 90%; /* Image should be responsive within the container */
    height: auto; /* Maintain the aspect ratio */
  }
}


.byline {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 5px 10px; /* Add padding to the top and bottom */
  margin-bottom: 20px;
}

.byline-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align columns by the top */
  max-width: 1000px; /* Adjust as needed for your design */
  margin: 0 auto; /* Center the container */
}

.byline-column {
  /* Columns will take up width based on their content */
  display: flex;
  flex-direction: column;
  text-align: left; /* All text within columns left-aligned */
}

.byline-column h3 {
  margin-bottom: 10px; /* Space between the header and the content */
  color: #333; /* Dark grey color for the text */
  font-size: 16px; /* Adjust the font size as needed */
}

.byline-column p {
  color: #666; /* Lighter grey color for the text */
  font-size: 14px; /* Adjust the font size as needed */
  margin: 0px 0; /* Space between paragraphs */
}

.author-link, .affiliation-link {
  color: #666; /* Set the color to match the other text */
  text-decoration: none; /* Removes the underline */
  border-bottom: none;
  cursor: pointer; /* Changes cursor to pointer to indicate link */
}

.author-link:hover, .affiliation-link:hover {
  text-decoration: underline; /* Adds underline on hover for visual feedback */
  border-bottom: none;
}


d-article {
  contain: none;
  position: relative;
}

d-article d-contents {
  max-width: 100%; /* Or the maximum width you want it to have */
  box-sizing: border-box; /* Include padding in the width calculation */
  align-self: start;
  grid-column: 1 / 4;
  grid-row: auto / span 4;
  justify-self: end;
  margin-top: 5em;
  padding-right: 3em;
  padding-left: 2em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


d-article d-contents nav {
  display: block;
}

d-article d-contents nav h4 {
  margin-top: 0;
  margin-bottom: 1em;
}

d-article d-contents nav div {
  color: rgba(91, 184, 73, 0.8);
  font-weight: bold;
}

d-article d-contents nav a {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
  text-decoration: none;
}

d-article d-contents li {
  list-style-type: none;
}

d-article d-contents ul {
  padding-left: 1em;
}

d-article d-contents nav ul li {
  margin-bottom: 0.25em;
}

d-article d-contents nav a:hover {
  text-decoration: underline solid rgba(0, 0, 0, 0.6);
}

d-article d-contents nav ul {
  margin-top: 0;
  margin-bottom: 6px;
}

d-article d-contents nav > div {
  display: block;
  outline: none;
  margin-bottom: 0.5em;
}

d-article d-contents nav > div > a {
  font-size: 13px;
  font-weight: 600;
}

d-article d-contents nav > div > a:hover,
d-article d-contents nav > ul > li > a:hover {
  text-decoration: none;
}

.active-nav-item {
  color: #0d6efd; /* Change as per your preference */
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

.sidebar {
  position: sticky;
}

d-article section{
  margin: 0 !important;
}


.video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0; /* Collapse the container to the aspect ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.preview {
  cursor: pointer;
  transition: opacity 0.2s, box-shadow 0.2s;
  opacity: 0.5; /* 50% transparent */
  height: 50px; /* Fixed height */
  width: auto; /* Auto width to maintain aspect ratio */
  margin-right: 10px;
  margin-left: 10px;
}

div .preview-video-active,
.preview:hover {
  opacity: 1.0; /* Fully opaque on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Shadow effect on hover */
}


/* blockquote {
  border-left: 4px solid #ccc;
  margin: 0.5em auto;
  padding: 0.5em 10px;
  color: #666;
  font-style: italic;
  width: 80%;
} */

/* blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */

blockquote.storytext {
  border-left: 6px solid #4a90e2; /* Brighter border color */
  background-color: #f9f9f9;      /* Subtle background */
  margin: 0px auto;
  padding: 1em 10px;
  color: #333;                    /* Darker font color */
  font-style: italic;
  font-weight: bold;              /* Bolder font */
  width: 85%;
  box-shadow: 2px 2px 8px #ccc;   /* Box shadow */
  padding-left: 2em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

blockquote.storytext:before {
  color: #4a90e2;                 /* Matching the border color */
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.fancybreak {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #333, transparent);
  margin: 0.8em auto;
}


#image-text-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.image-review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-box {
  width: 50%; /* Adjust the width as needed */
  margin-left: 0%; /* Space between image and text box */
  height: 100%; /* Make the text box the same height as the image */
}

.button-bar button {
  background-color: #88AB8E; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-top: 0px;  /* Keeps the original top margin */
  margin-bottom: 10px;  /* Keeps the original bottom margin */
  margin-left: 5px;  /* Increases the left margin */
  margin-right: 5px;  /* Increases the right margin */
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px #999; /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

div .active-button,
.button-bar button:hover {
  background-color: #45a049; /* Slightly darker shade on hover */
  box-shadow: 0 6px #666; /* Change in shadow */
  transform: translateY(-2px); /* Slight raise */
}

.interactive-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.llmul {
  text-decoration-color: royalblue;
}

.geoul {
  text-decoration-color: ForestGreen;
}

.cvul {
  text-decoration-color: #FF43A4;  
}

.colul {
  text-decoration-color: #FFAE42;
}

.character-card-img {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* collapsible code */
.collapsible {
  background-color: hsla(206, 95%, 20%, 0.2);
  cursor: pointer;
  padding: 1em;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  transition: max-height 0.2s ease-out;
  /* background-color: #acc2c2; */
}

.collapsible {
  background-color: hsla(206, 95%, 20%, 0.2);
  cursor: pointer;
  padding: 1em;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  transition: max-height 0.2s ease-out;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-radius: 4px;
}

.collapsible.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.collapsible .collapsible-indicator::after {
  content: "+"
}

.collapsible.active .collapsible-indicator::after {
  content: "-"
}

.collapsible h4 {
  margin: 0;
  line-height: inherit;
}

d-article .content {
  padding: .3em 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-color: hsla(206, 95%, 20%, 0.2);
  margin-bottom: 20px;
}



aside.counting-table {
  position: absolute;
  top: 42%;
  left: 105%;
}

aside figure {
  margin: 0;
  display: block; /* Ensures that figure behaves as a block-level element */
}

aside figure table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Use fixed table layout for consistent column sizing */
}

aside th, aside td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
  white-space: nowrap;
  text-overflow: ellipsis; /* Add ellipsis to clipped content */
}

aside th {
  background-color: #e9ecef;
  color: #495057;
}
aside tr:hover {
  background-color: #f2f2f2;
}
aside th:first-child, aside td:first-child {
  border-right: 1px solid #dee2e6;
}

figcaption .table-caption {
  text-align: center;
  padding: 8px;
  font-style: italic;
  color: #6c757d;
  margin-top: 0; /* Ensures there is no additional space between table and caption */
  font-size: 12px;
}


* {
  box-sizing: border-box;
}

.img-magnifier-container {
  position:relative;
  margin-bottom: 20px;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}


img {
  vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.slider-img-container {
  position: relative;
}

/* Hide the images by default */
.my-slides {
  display: none;
}

#slider-img-tourist .my-slides img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
}

#slider-img-photographer .my-slides img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
}

#slider-img-diego-revise-state .my-slides img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

#slider-img-diego-revise-verbal .my-slides img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.my-slides:hover .overlay {
  opacity: 1;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(148, 143, 143, 0.8);
  font-weight: bold;
  font-size: 30px;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: none;
}

.prev {
  left: -5%;
}

/* Position the "next button" to the right */
.next {
  right: -5%;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f8f9fa; /* Light color for better visibility */
  font-family: 'Arial', sans-serif; /* A more modern font */
  font-size: 16px; /* Slightly larger for readability */
  font-weight: bold; /* Make it bold */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 5px 15px; /* Increased padding for better spacing */
  position: absolute;
  top: 10px; /* Adjusted to not be too close to the edge */
  left: 50%;
  transform: translateX(-50%); /* Center it horizontally */
  text-shadow: 1px 1px 2px black; /* Text shadow for better readability */
  border-radius: 5px; /* Rounded corners for a softer look */
}

.row {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.5;
  height: 50px; /* Fixed height */
  width: auto; /* Auto width to maintain aspect ratio */
}

.active-slide-img,
.demo:hover {
  opacity: 1;
}


.overlay {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute; 
  top: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.system-fundamental-aside {
  display: none;
  background-color: #F3F8FF;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  width: 300px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  height: fit-content;
  position: absolute;
  top: 39.5%;
  left: 105%;
}

.clickable-region {
  position: absolute;
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  /* background: rgba(255, 255, 0, 0.5);  */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.clickable-region:hover {
  background: rgba(255, 255, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.75); /* Brighter border on hover */
}

.clickable-image-container {
  position: relative;
  width: 100%;
}
.clickable-image-container img {
  width: 100%;
  height: auto;
}

.resscolor {
  background-color: rgb(194,255,191);
}

.sizescolor {
  background-color: rgb(194,215,255);
}

.inline-tag {
  height: 18px;
  width: auto
}

.explorer-aside, .tourist-aside {
  display: none;
  background-color: #F3F8FF;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
  width: 300px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  height: fit-content;
}

.tourist-aside {
  position: absolute;
  top: 39%;
  left: 105%;
}

.explorer-aside {
  position: absolute;
  top: 37%;
  left: 105%;
}

blockquote.place-review {
  border-left: 2px solid #FFAE42; /* Brighter border color */
  padding-left: 5px !important;
  color: #333;                    /* Darker font color */
  font-style: italic;
  box-shadow: 2px 2px 8px #ccc;   /* Box shadow */
  padding-left: 2em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-overflow: ellipsis; /* Add ellipsis to clipped content */
  margin-bottom: 0px;
}

aside blockquote {
  padding-left: 10px;
  color: #505050;                   
}

.modal-trigger {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-trigger:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: auto;
  /* max-width: 1000px; */
  max-height: 750px;
  height: 100%;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


.avatar-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin: 20px;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar img:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.avatar figcaption {
  /* display: inline-block; */
  /* margin-top: 8px; */
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  /* background-color: #f8f8f8; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  width: 80px; /* Adjust as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.left-aside-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.left-side-bar {
  position: absolute;
  top: 90%;
  left: -35%;
}

#click-hint{
  display: block;
  margin: auto;
  width: 80%;
  font-size: 16px; /* Adjust the font size */
  color: #333333; /* Set text color */
  /* background-color: #f2f2f2; */
  border: 2px solid #cccccc; /* Add border */
  padding: 10px; /* Add padding around text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some margin at the bottom */
}

#click-hint strong {
  color: #007bff; /* Highlight the 'strong' element with a different color */
  /* text-decoration: underline; Underline the 'strong' text */
}


.grey-overlay {
  position: absolute; /* Change to absolute positioning */
  top: 0;
  left: 0;
  width: 300%; /* Full container width */
  height: 100%; /* Full container height */
  background-color: rgba(245, 237, 220, 0.5);
  z-index: -1; /* Ensure it's above other content */
  margin-left: -100%;
}

d-article h3 {
  margin-top: 20px;
}

d-article > div > h3 {
  width: 150%;
  margin-left: -10%;
}

.text {
  width: 150%;
  margin-left: -20%;
}


.nav-bar {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 80px;
  height: fit-content;
  background-color: #dbdbdb39;
  overflow-x: hidden;
  padding-top: 10px;
}

#nav-sub-agents {
  margin-left: 15px;
  margin-bottom: 20px;
}

div.nav-bar a {
  border: none;
  opacity: 0.5;
}

div.nav-bar a:hover {
  background-color: #ddd;
  color: black;
  opacity: 1.0;
}

div.nav-bar img:hover {
  transform: scale(1.1);
}

a.active-link {
  color: #007bff; /* Change to your preferred color */
    /* If you're using images inside <a>, you might want to apply a filter instead */
  /* filter: brightness(1.2); */
  opacity: 1.0 !important;
}

/* a.active-link img {
  border: 2px solid #007bff;
  border-radius: 4px;
} */

